@model IEnumerable<Todo>
@using Todo.Authorization;


@{
    ViewData["Title"] = "Index";
}

<h2>Todo List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if ((await AuthorizationService.AuthorizeAsync(User, item, TodoOperations.Update)).Succeeded)
                    {
                        <text> | </text><a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                    @if ((await AuthorizationService.AuthorizeAsync(User, item, TodoOperations.Delete)).Succeeded)
                    {
                        <text> | </text>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>